$primary: #102b3c;
$secondary: #205375;
$secondary-light: #ed1c24;
$accent: #ed1c24;
$light: white;
$dark: black;

$animation: all 0.3s ease-in-out;

// * NOTE - layouts

$condensed-sidebard-width: 5rem;
$expanded-sidebard-width: 12rem;
