* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@import "variables";
@import "components/global-elements";
@import "components/side-bar";
@import "components/layouts/full-container";
