.odecci-side-bar {
    height: 100vh;
    width: 3rem;
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    .odecci-company-logo {
    }
}
